@keyframes zoom {
    0% {transform: scale(1);}
    25% {transform: scale(1.5);}
    50% {transform: scale(0.8);}
    75% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

h1 {
    color: brown;
    text-align: center;
    font-size: 35px;
    animation: zoom 1.5s 0s 1 ease-out;
    width: 700px;
}

h2 {
    color: green;
    text-align: center;
}

h3 {
    color: gray;
    border-bottom: 1px dashed red;
    width: 500px;
}

li {
    color: green;
}

.skills {
    background-color: aqua;
    color: black;
    width: 500px;
}

.more {
    background-color: lightgray;
    color: ;
    width: 500px;
}